<div class="container">
    <div class="card">
      <h2>Acerca de nosotros</h2>
      <p>Somos una comunidad de héroes en la vida real apasionados por los héroes de Marvel y DC. Nos inspiramos en los valores de valentía, justicia y sacrificio que representan estos personajes icónicos. Nuestro objetivo es hacer del mundo un lugar mejor y defender los ideales de verdad y justicia dondequiera que vayamos.</p>
    </div>
  </div>

  <div class="card">
    <h2>Nuestros Valores</h2>
    <ul>
      <li><span class="highlight">Valentía:</span> Nos enfrentamos a los desafíos con determinación y coraje.</li>
      <li><span class="highlight">Justicia:</span> Luchamos por la igualdad y la equidad en todas partes.</li>
      <li><span class="highlight">Sacrificio:</span> Estamos dispuestos a darlo todo por el bienestar de los demás.</li>
    </ul>
  </div>