body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }

  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
  }

  .card {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  h2 {
    color: #333;
  }

  p {
    color: #666;
    line-height: 1.5;
  }

  .highlight {
    color: #FF0000;
    font-weight: bold;

  }
  li{
    font-size: 20px;
    
  }

