<h1 class="text-center" style="margin-bottom: 20px;">Heroes de <small>Marvel y DC</small></h1>
<div class="card-group row row-cols-1 row-cols-lg-3 g-4">
    @for(h of misHeroes; track h; ){
        <div class="col">
            <div class="card h-100">
                <img src="{{h.img}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{h.nombre}}</h5>
                    <p class="card-text">{{h.bio}}</p>
                    <p class="card-text"><small class="text-muted">{{h.aparicion}}</small></p>
                </div>
                <a   class="btn btn-primary mb-3 btn-outline btn-block">Ver más</a>
            </div>
        </div>
        
    }
</div>